<style>
h1{
  font-family: fantasy;
  color:       gold;
}
body{
  background-color: darkred;
  text-align:       center;
}
a{
  color: orange;
  font-size: 150%;
}
a:hover{
  background-color: black;
}
</style>
<h1>All Tasks</h1>

<% @tasks.each do |task| %>
  <h3><%= task.id %>: <a href="/tasks/<%= task.id %>"><%= task.title %></a></h3>
  <a href="/tasks/<%= task.id %>/edit">Edit</a>
  <a href="/tasks/<%= task.id %>/delete">Delete</a>
  <form action="/tasks/<%= task.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  </form>
<% end %>
